.card-panel {
    padding-top: 20px; 
    padding-bottom: 40px;
}

.card-title {
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 0.6rem;
    text-transform: uppercase;
}

.card-action {
    margin-top: 2rem;
}