.box-filter {
    margin-top: -10px;

    .bt-filter {
        position: relative;
        top: 1.5rem;
    }

    .dropdown-content i {
        font-size: 1.5rem;
    }

    input[type=search]:focus {
        background-color: transparent;
    }

    .bt-close {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}

.list-collection {
    margin-top: 60px;
    
    .grid-item {
        width: 33.33%;
        float: left;
    }

    .card {
       margin: 0.4rem;
    }
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating)  {
    color: #eceff1;
}

.card-content {
    padding: 16px;
    p { font-size: 90%; text-align: justify;  }
    
    .card-title { line-height: 1.7rem; font-size: 1.3rem; }
    .card-title .fa {
        font-size: 1rem;
        margin-right: 5px;
    }
}

.card .card-action {
    padding: 10px 0px 10px 16px;
    border-top: 1px solid rgba(217, 217, 217, 0.2);

    .card-title {
        color: #fff;
        font-size: 1.1rem;
    }
}

.actions-buttons {
    float: right;
    margin-right: -1rem;

    a {
        position: relative; 
        margin-left: -1.5rem;
    }
}

.card-reveal {
    padding: 16px;

    p { line-height: 0.5rem; }

    .card-title {
        a {
            margin-left: 5px;
        }
    }

    .reveal-body {
        .file {
            margin-top: -0.8rem; 

            a {
                position: relative; 
                font-size: 1.5rem; 
                top: 0.2rem;
            }
        }
    }
}
