<div class="bg-dark absolute box-content">
  <h1>404</h1>
  <p>{{ 'PAGE-NOT-FOUND' | translate }}</p>

  <div class="row">
    <div class="col s12 m6 l6">
      <a routerLink="/" class="btn btn-large waves-effect waves-light col s12 m4 right">
        <i class="fa fa-home margin-r-10" aria-hidden="true"></i>{{ 'GO-HOME' | translate }}
      </a>
    </div>
    <div class="col s12 m6 l6">
      <a href="mailto:douglasrafaelcg@gmail.com" class="btn grey btn-large waves-effect waves-light col s12 m4 left">
        <i class="fa fa-envelope margin-r-10" aria-hidden="true"></i>{{ 'CONTACT-SUPPORT' | translate }}
      </a>
    </div>
  </div>
</div>