<div class="row">
  <menu-nav class="col s12 m3 l3"></menu-nav>

  <div class="col s12 m9 l9 card">
    <form name="userForm" [formGroup]="userForm" (ngSubmit)="userForm.valid && onSubmit()" enctype="multipart/form-data" novalidate>
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <input type="password" name="passwordOld" class="validate" formControlName="passwordOld" [attr.disabled]="formProcessing?true:null">
          <label for="passwordOld">{{ 'PASSWORD-OLD' | translate }}</label>
          <control-messages class="error-input" [control]="userForm.controls.passwordOld"></control-messages>
        </div>

        <div class="input-field col s12 m12 l6">
          <input type="password" name="password" class="validate" formControlName="password" [attr.disabled]="formProcessing?true:null">
          <label for="password">{{ 'PASSWORD-NEW' | translate }}</label>
          <control-messages class="error-input" [control]="userForm.controls.password"></control-messages>
        </div>

        <div class="input-field col s12 m12 l6">
          <input type="password" name="passwordConfirm" class="validate" formControlName="passwordConfirm" [attr.disabled]="formProcessing?true:null">
          <label for="confirm password">{{ 'PASSWORD-CONFIRM-NEW' | translate }}</label>
          <control-messages class="error-input" [control]="userForm.controls.passwordConfirm"></control-messages>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m6 l4 right">
          <button [disabled]="userForm.invalid" [ngClass]="{'btn-processing': formProcessing}" class="btn waves-effect waves-light col s12 btn-large">{{ 'EDIT-PASSWORD' | translate }}</button>
        </div>
      </div>
    </form>
  </div>
</div>