.container-login {
    max-width: 350px;
    
    .box-login {
        margin-top: 50px;
        padding: 15px 15px 30px 15px;

        .row {
            margin: 0px auto;
        }

        .login-form-text {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 1.2rem;
            margin-bottom: 20px;
        }

        .remember-text {
            margin: 0px 0px 30px -4px;
            // margin-left: -4px !important;
        }

        .input-field > i {
            margin-top: 5px;
        }
    }
}
