.card-title {
    padding-bottom: 0.5rem;
}

.box-output-doc {
    height: 550px;

    .outputDoc {
        width: 100%;
        height: 100%;
    }
}

.card .card-content .card-title  {
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-weight: 400;
}