.nav-title {
    padding: 10px 0 0 0;
}

.brand-logo {
    margin-top: 10px;
}

.drop-menu-config {
    img { margin: 11px 10px 0 0; }
    i { margin-left: 5px; }
}

.btn-floating .fa-file { font-size: 1.3rem; }

.bt-notice {
    margin-right: 0.8rem;
    i { font-size: 1.5rem; }
}

.bt-prev {
    &:hover{
        cursor: pointer;
    }
    i {
        height: 1.8rem;
        margin-right: 0.5rem;
    }
}